@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

#main-title {
    font-family: "Comfortaa", Arial, sans-serif;
}

#container {
    font-family: "Comfortaa", Arial, sans-serif;
}

.boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.selection-box {
    height: 12rem;
    width: 33%;
    border: solid black 2px;
    margin: 2% 6% 2% 6%;
    border-radius: 0.5rem;
    border: 1px dashed dodgerblue;
    background-color: beige;
}

.selection-title {
    margin-left: 1rem;
}

.order-button {
    background-color: forestgreen;
    font-size: 1.5rem;
    align-items: flex-start;
    margin-top: 15px;
    margin-left: 5%;
}

.custom-car-orders {
    margin-top: 50px;
    margin-left: 5%;
}

#paints {
    margin-left: 1rem;
}

#interiors {
    margin-left: 1rem;
}

#wheels {
    margin-left: 1rem;
}

#technologies {
    margin-left: 1rem;
}